/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

* {
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}
body{
    background-color: rgb(230, 230, 230);
}
.container-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
h1{
    font-weight: 200;
    font-size: 50px;
    color: rgb(62, 128, 182);
}
.list{
    background-color: white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.35);
    width: 600px;
    input {
        display: block;
        padding: 10px 0px 10px 40px;
        border: none;
        width: 100%;
        border-bottom: 1px solid rgba(128, 128, 128, 0.466);
        font-size: 30px;
        font-weight: 200;
    }
    .task {
        padding: 10px 0px 10px 40px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.466);
        position: relative;
        h2 {
            font-size: 30px;
            font-weight: 200;
        }
        button {
            border: none;
            background: none;
            position: absolute;
            top: 20px;
            right: 20px;
            color: red;
            cursor: pointer;
            display: none;
        }
        &:hover {
            button {
                display: block;
            }
        }
            
    }
    .text-footer-list{
        padding: 10px 0px 10px 20px;
        color: grey;
    }

}